$blue: #076CA5;

$filter-blue: rgba(7, 80, 165, 0.75);
$filter-panel-blue: rgba(7, 108, 165, 0.75);

$orange: #fa4e1e;

$filter-orange: rgba(250, 78, 30, 0.75);

$grey: #333;
$grey-medium: #58595B;
$grey-light: #B7B9BB;
$grey-superlight: #f2f2f2;

$text-color: $grey;
